.licence { font-size: 0.8em; line-height: 1.2em; }
.the-header { border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
.post-summary { margin-bottom: 0.4em; font-size: 0.8em; letter-spacing: 0; line-height: 1.5em; color: #959595; }